<!DOCTYPE html> 
<html> 
	<head> 
	<title>parkhelsinki</title> 
	<meta name="viewport" content="width=device-width, initial-scale=1"> 
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css" />
    <link href='http://api.tiles.mapbox.com/mapbox.js/v0.6.5/mapbox.css' rel='stylesheet' />
    <script src='http://api.tiles.mapbox.com/mapbox.js/v0.6.5/mapbox.js'></script>
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
	<script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
    <script src="@routes.Assets.at("javascripts/park.js")"></script>
    <style>
       #map { position:absolute; top:45px; bottom:0; width:100%; } 
    </style>
</head> 
<body onload="park.init()"> 

<div data-role="page">

	<div id="header" data-role="header">
		<h1>parkhelsinki</h1>
	</div><!-- /header -->

	<div id="map" data-role="content">	
	</div><!-- /content -->

</div><!-- /page -->
<script>
  mapbox.auto('map', 'lyyder.map-t2vxuiud');
</script>
</body>
</html>
