<!DOCTYPE html>
<html>
	<head>
	<title>parkhelsinki</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />
    <script src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js'></script>
    <script src='http://code.jquery.com/jquery-2.0.3.min.js'></script>
    <script src='@routes.Assets.at("javascripts/park.js")'></script>
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
</head>
<body onload="park.init()">
	<div id="map"/>
</body>
</html>
